//fix
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

.dash-top{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 50%;
}
