$blue: #2da29d;
$dark-blue: #057672;
$light-gray: #AFAFAF;



.stats {
  position: fixed;
  top: 40%;
  height: 30%;
  width: 100%;
  background-color:#333;
  overflow: auto;
  zoom: 1;
  font-family: 'verdana' !important;

  > h3 {
    text-align: center;
    font-size: 30px;
    color: $dark-blue;
    margin: 15px 0px 10px 0px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}

.cols-container{
  padding: 0px 50px;
  position: relative;
}

.stats-col {
  width: 32%;
  float:left;
  padding: 0px;
  background-color: #333;
  min-height: 200px;
  transition: background-color 0.3s ease-in;

  &.col-2 {
    margin: 0px 1% 0% 2%;
  }
  &.col-3{
    float:right;
  }

  &:hover {
    -webkit-box-shadow: 2px 10px 82px -24px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 10px 82px -24px rgba(0,0,0,0.75);
    box-shadow: 2px 10px 82px -24px rgba(0,0,0,0.75);
    background-color: $dark-blue;
    cursor: pointer;
  }

  > p {
    margin: 10px 0px;
    font-size: 12px;
    color: white;
    padding: 10px 15px 5px 15px;
    &:first-child{
      padding-top: 15px;
    }
    > span {
      font-weight: bold;
    }
  }
}