$blue: #2da29d;
$dark-blue: #057672;
$light-gray: #AFAFAF;



.table-container{
    position: absolute;
    left: 0px;
    top: 70%;
    height: 30%;
    overflow: scroll;
    width: 100%;
    z-index: 5;
    background-color: $light-gray;

    > button {
      position: fixed;
      top: calc(70% - 75px);
      right: 50px;
      height: 56px;
      line-height: 35px;
      background-color: $dark-blue;
      color: white;
      border: none;
      min-width: 200px;
      font-size: 20px;
      text-transform: uppercase;
      z-index: 1;
      > span {
        display: block;
        position: relative;
        color: white;
      }

      &:hover{
        cursor: pointer;
        &:before{
          width: 100%;
        }
      }
      &:before {
        content: '';
        position: absolute;
        left: 0px;
        top: 0px;
        height: 100%;
        background-color: black;
        width: 0%;
        transition: width 0.3s ease-in-out;
      }

    }
}

.table-search{
  position: fixed;
  top: calc(70% - 75px);
  left: 50px;
  min-width: 300px;
  height: 50px;
  padding-left: 10px;
  font-size: 20px;
  color: black;
  background-color: $light-gray;
  border: 3px solid black !important;
  z-index: 100;


  &:active, &:focus {
    border-color: $dark-blue !important;
    color: $dark-blue;

  }
}



.table {


  .row {
    background-color: white;
    &:first-of-type {
      position: fixed;
      -webkit-box-shadow: 4px 2px 50px -10px rgba(0,0,0,0.75);
      -moz-box-shadow: 4px 2px 50px -10px rgba(0,0,0,0.75);
      box-shadow: 4px 2px 50px -10px rgba(0,0,0,0.75);
      top: 70%;
      width: 100%;
      line-height: 50px;
      background-color: $dark-blue !important;
      > span {
        text-transform: uppercase;
        padding: 0px;
      }
    }

    &:nth-of-type(2) {
      margin-top: 50px;
    }

    &:nth-of-type(even){
      background-color: gray;

    }
    &:nth-of-type(odd){
      background-color: $light-gray;

    }



    > span {
      &:first-of-type {
        margin-left: 50px;
      }
      &:last-of-type {
        margin-right: 50px
      }

      display: inline-block;
      padding: 25px 0px;
      width: calc((100% / 8) - 50px);
      margin: 0px 15px;
      text-align: left;
      color: white;
      font-family: 'verdana';
      &.job-title {
        width: calc((100% / 5) - 30px);
      }
      &.user-id {
        width: calc((100% / 4));
      }
    }
  }

}