$blue: #2da29d;
$light-gray: #AFAFAF;



.table-container{
    position: absolute;
    left: 0px;
    top: 60%;
    height: 40%;
    overflow: scroll;
    width: 100%;
    z-index: 5;
    background-color: $light-gray;
}

.table-search{
  position: fixed;
  top: calc(60% - 75px);
  left: 15px;
  height: 35px;
  padding-left: 10px;
  font-size: 20px;
  color: gray;
  border: 2px solid gray;
  z-index: 100;
}

.table {


  .row {
    background-color: white;
    &:first-of-type {
      position: fixed;
      top: 60%;
      width: 100%;
      line-height: 50px;
      background-color: $blue !important;
      > span {
        text-transform: uppercase;
        padding: 0px;
      }
    }

    &:nth-of-type(2) {
      margin-top: 50px;
    }

    &:nth-of-type(even){
      background-color: gray;

    }
    &:nth-of-type(odd){
      background-color: $light-gray;

    }



    > span {
      display: inline-block;
      padding: 15px 0px;
      width: calc((100% / 8) - 30px);
      margin: 0px 15px;
      text-align: left;
      color: white;
      font-family: 'verdana';
      &.job-title {
        width: calc((100% / 5) - 30px);
      }
      &.user-id {
        width: calc((100% / 4));
      }
    }
  }

}